.post--full-size
  %h4
    = post.friendly_title
    %small
      = post.user.name
      = post.friendly_date
  - if current_user == post.user
    = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  -if post.tags_array.length > 0
    .post__tags-list.tagsinput
      - post.tags_array.each do |tag|
        = content_tag :span, tag, class: 'tag'
.clearfix
%hr
= simple_form_for Comment.new, :url => post_comments_path(post) do |f|
  = f.input :body, as: :text, input_html: { cols: 70, rows: 3 }
  = f.button :submit


- if not comments.nil?
  %hr
  = render partial: "comments", locals: { comments: comments }
